<section class="case-studios">
  <div class="container">
    <span class="case-studios__alt-title">case studies</span>
    <h2 class="case-studios__title">
      our clients get unbelievable results with crft
    </h2>
    <span class="case-studios__pre-title">Kaspersky</span>
    <p class="case-studios__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore, lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore
    </p>
    <span class="case-studios__autor">Charlie Gearside, Creative Director</span>
    <a href="" class="case-studios__link">Go to case studies</a>
  </div>
</section>
