<section class="getting-started">
  <div class="container">
    <div class="getting-started__text-wrap">
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
    </div>
    <div class="getting-started__picture-wrap"></div>
  </div>
</section>
