<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__text-wrap">
        <h1 class="hero__title">professional animation services</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="hero__btn-block">
          <bottom class="hero__btn">Get in touch</bottom>
          <a href="" class="hero__btn">See Our Portfolio</a>
        </div>
        <ul class="hero__fact-list">
          <li class="hero__fact-item">Original Work</li>
          <li class="hero__fact-item">100% Ownership Rights</li>
          <li class="hero__fact-item">Satisfaction Guaranteeds</li>
        </ul>
      </div>
      <div class="hero__picture-wrap"></div>
    </div>
  </div>
</section>
