<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">check our amazing portfolio</h2>
    <div class="portfolio__cases">
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">EXPLAINER VIDEO MUNIQ</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">EXPLAINER VIDEO MUNIQ</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">LIEBHERR 3D VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">VISA EXPLAINER VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">PATH EXPLAINER VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">O VALET PRODUCT VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
    </div>
    <a class="portfolio__btn"></a>
  </div>
</section>
