<section class="testimonials">
  <div class="container">
    <div class="testimonials__card">
      <div class="testimonials__preview">
        <div class="testimonials__play"></div>
      </div>
      <div class="testimonials__person-info">
        <span class="testimonials__name"></span>
        <span class="testimonials__profession"></span>
      </div>
      <p class="testimonials__text"></p>
      <p class="testimonials__text"></p>
      <a href="" class="testimonials__link"></a>
    </div>
  </div>
</section>
