<section class="features">
  <div class="container">
    <div class="features__text-wrap">
      <h2 class="features__title">FEATURES TO WORK WITH US</h2>
      <div class="features__item">
        <span class="features__item-number">001</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="features__item">
        <span class="features__item-number">002</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="features__item">
        <span class="features__item-number">003</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
    </div>
    <div class="features__picture-wrap"></div>
  </div>
</section>
