<header class="header">
  <div class="container">
    <a href="" class="logo">
      <img src="" alt="" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="" class="nav__link">Portfolio</a></li>
        <li class="nav__item"><a href="" class="nav__link">Company</a></li>
        <li class="nav__item"><a href="" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="" class="nav__link">Use Cases</a></li>
      </ul>
    </nav>
    <bottom class="header__btn">get a quote</bottom>
  </div>
</header>

<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__text-wrap">
        <h1 class="hero__title">professional animation services</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="hero__btn-block">
          <bottom class="hero__btn">Get in touch</bottom>
          <a href="" class="hero__btn">See Our Portfolio</a>
        </div>
        <ul class="hero__fact-list">
          <li class="hero__fact-item">Original Work</li>
          <li class="hero__fact-item">100% Ownership Rights</li>
          <li class="hero__fact-item">Satisfaction Guaranteeds</li>
        </ul>
      </div>
      <div class="hero__picture-wrap"></div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container">
    <div class="clients__inner">
      <div class="clients__top">
        <h2 class="clients__title"></h2>
        <div class="clients__text"></div>
        <div class="clients__grid"></div>
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2 class="intro__title"></h2>
    <span class="intro__pre-title"></span>
    <p class="intro__text"></p>
    <p class="intro__text"></p>
  </div>
</section>

<section class="video-type">
  <div class="container">
    <span class="video-type__alt-title"></span>
    <h2 class="video-type__title section-title"></h2>
    <span class="video-type__pre-title"></span>
    <div class="video-type__grid">
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="features__text-wrap">
      <h2 class="features__title">FEATURES TO WORK WITH US</h2>
      <div class="features__item">
        <span class="features__item-number">001</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="features__item">
        <span class="features__item-number">002</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="features__item">
        <span class="features__item-number">003</span>
        <span class="features__item-title">lorem ipsum dolor sit atmet</span>
        <span class="features__item-subtitle">lorem ipsum</span>
        <p class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
    </div>
    <div class="features__picture-wrap"></div>
  </div>
</section>

<section class="stats">
  <div class="container">
    <div class="stats__item">
      <span class="stats__value">+22,000</span>
      <span class="stats__name">our trusted clients</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">99%</span>
      <span class="stats__name">satisfied clients</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">+1,000</span>
      <span class="stats__name">new projects every year</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">800+</span>
      <span class="stats__name">reviews in clutch</span>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">check our amazing portfolio</h2>
    <div class="portfolio__cases">
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">EXPLAINER VIDEO MUNIQ</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">EXPLAINER VIDEO MUNIQ</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">LIEBHERR 3D VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">VISA EXPLAINER VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">PATH EXPLAINER VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
      <div class="portfolio__case">
        <div class="portfolio__video"></div>
        <span class="portfolio__case-name">O VALET PRODUCT VIDEO</span>
        <span class="portfolio__case-text"
          >Lorem ipsum dolor sit amet, consectetur sit.
        </span>
      </div>
    </div>
    <a class="portfolio__btn"></a>
  </div>
</section>

<section class="getting-started">
  <div class="container">
    <div class="getting-started__text-wrap">
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
      <div class="getting-started__stage">
        <span class="getting-started__stage-title"
          >lorem ipsum dolor sit atmet</span
        >
        <span class="getting-started__stage-subtitle">lorem ipsum</span>
        <span class="getting-started__stage-text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </span>
      </div>
    </div>
    <div class="getting-started__picture-wrap"></div>
  </div>
</section>

<section class="case-studios">
  <div class="container">
    <span class="case-studios__alt-title">case studies</span>
    <h2 class="case-studios__title">
      our clients get unbelievable results with crft
    </h2>
    <span class="case-studios__pre-title">Kaspersky</span>
    <p class="case-studios__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore, lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore
    </p>
    <span class="case-studios__autor">Charlie Gearside, Creative Director</span>
    <a href="" class="case-studios__link">Go to case studies</a>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="testimonials__card">
      <div class="testimonials__preview">
        <div class="testimonials__play"></div>
      </div>
      <div class="testimonials__person-info">
        <span class="testimonials__name"></span>
        <span class="testimonials__profession"></span>
      </div>
      <p class="testimonials__text"></p>
      <p class="testimonials__text"></p>
      <a href="" class="testimonials__link"></a>
    </div>
  </div>
</section>
