<section class="stats">
  <div class="container">
    <div class="stats__item">
      <span class="stats__value">+22,000</span>
      <span class="stats__name">our trusted clients</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">99%</span>
      <span class="stats__name">satisfied clients</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">+1,000</span>
      <span class="stats__name">new projects every year</span>
    </div>
    <div class="stats__item">
      <span class="stats__value">800+</span>
      <span class="stats__name">reviews in clutch</span>
    </div>
  </div>
</section>
