<section class="video-type">
  <div class="container">
    <span class="video-type__alt-title"></span>
    <h2 class="video-type__title section-title"></h2>
    <span class="video-type__pre-title"></span>
    <div class="video-type__grid">
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
      <div class="video-type__cart">
        <div class="video-type__cart-img"></div>
        <div class="video-type__cart-wrap">
          <span class="video-type__cart-title"></span>
          <span class="video-type__cart-text"
            >Lorem ipsum dolor sit amet, consectetur sit.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
